
#wait {
    display:                block;
    position:               fixed;
    z-index:                1000;
    left:                   0;
    top:                    0;
    margin:                 0;
    width:                  100vw;
    height:                 100vh;
    background-color:       rgba(239,239,255,0.7);
    cursor:                 wait;
}

#notifications {
    display:                block;
    position:               fixed;
    left:                   0;
    top:                    0;
    width:                  100vw;
    height:                 100vh;
    padding:                40vh 25vw 0 25vw;
    background-color:       rgba(239,239,255,0.7);
    cursor:                 pointer;
}

.dashboard .note {
    border-style:           solid;
    border-width:           2px;
    border-color:           #660000;
    width:                  50vw;
    margin:                 0 0 1em 0;
    background-color:       #ffeeee;
    padding:                0.5em;
    color:                  #660000;
}

.tooltip .tooltip {
    display:                block;
    position:               absolute;
    margin:                 0vh 0vw 0vh -12vw;
    border-style:           solid;
    border-width:           1px;
    border-color:           #660000;
    width:                  20vw;
    height:                 30vh;
    background-color:       rgba(239,239,255,1);
    padding:                1vh 1vw 1vh 1vw;
    overflow-y:             scroll;
}

.tooltip pre.tooltip {
    white-space:            pre-wrap;
}

details.tooltip .tooltip-top-left {
    margin:                 -1.5em 0 0 1vw;
}

details.tooltip .tooltip-top-center {
    margin:                 -1.5em 0 0 -11.5vw;
}

details.tooltip .tooltip-top-right {
    margin:                 -1.5em 3em 0 -22.5vw;
}

form.tooltip-form {
    padding:                0 10% 0 10%;
}

form.tooltip-form * {
    display:                block;
    width:                  100%;
}

body.dashboard {
    background-color:       rgba(239,239,255,1);
    padding:                2vh 2vw 2vh 2vw;
    font-size:              1em;
}

body.dashboard * {
    background-color:       transparent;
    font-family:            Monospace;
}

.dashboard > h1 {
    margin:                 0;
}

.dashboard .menu-plugins .item h3 {
    margin-bottom:          0;
    padding-bottom:         0;
}

.dashboard .hilite {
    background-color:       #cccccc;
}

.dashboard input[disabled] {
}

.dashboard select[disabled] {
}

.dashboard .inactive {
    color:                  #888888;
    font-style:             italic;
}

.dashboard th {
    text-align:             left;
}

.dashboard .global-notifications {
    position:               fixed;
    left:                   30vw;
    top:                    40vh;
    width:                  40vw;
}

.dashboard .vspace {
    height:                 2em;
}

.dashboard div.content {
    position:               relative;
    right:                  0;
    float:                  right;
    margin:                 1vh 1vw 1vh 2vw;
    width:                  70vw;
    height:                 80vh;
    overflow:               scroll;
    resize:                 vertical;
}

.dashboard div.menu,div.menu-plugins {
    margin:                 1vh 2vw 1vh 0vw;
    width:                  20vw;
}

.dashboard div.list {
    margin:                 0vh 0vw 0vh 0vw;
    width:                  68vw;
}

.dashboard .list > *:nth-child(odd) {
    background-color:       rgba(220,220,220,0.3);
}

.dashboard .list > *:nth-child(even) {
    background-color:       rgba(220,220,220,0.1);
}

.dashboard .content .smalltext {
    font-size:              0.8em;
}

.dashboard .input details {
    margin:                 0 0 0 15em;
}

.dashboard .content label {
    display:                inline-block;
    vertical-align:         top;
    width:                  15em;
}

.dashboard .content label.wee {
    width:                  4em;
}

.dashboard .content label.tiny {
    width:                  5em;
}

.dashboard .content label.narrow {
    width:                  10em;
}

.dashboard .content label.wide {
    width:                  20em;
}

.dashboard .content label.vast {
    width:                  25em;
}

.dashboard form input.inline {
    margin-left:            1em;
}

.dashboard div.plugin-dash {
    margin:                 1vh 0vw 1vh 0vw;
    border-style:           solid;
    border-width:           1px;
    padding:                1em;
}

.dashboard div.constant span {
    background-color:       #ccccee;
    font-weight:            bold;
}

.dashboard form div.input {
    clear:                  both;
}

.dashboard form button,input[type=submit],a.button {
    min-width:              6em;
    margin:                 0;
    border-width:           2px;
    background-color:       #eeeeff;
    padding:                0.2em;
    font-size:              0.85em;
    font-weight:            bold;
}
.dashboard form a.button {
    display:                inline-block;
    padding:                0.1em;
    border-style:           outset;
    border-color:           #7777777;
    text-align:             center;
    text-decoration:        none;
}
.dashboard form a.button:hover {
    border-color:           #7777777;
    text-decoration:        underline;
}
.dashboard form a.button:active {
    border-style:           inset;
    border-color:           #7777777;
}

.dashboard form button {
    cursor:                 pointer;
}

.dashboard form button > a {
    font-family:            inherit;
    font-size:              inherit;
    padding:                0;
    margin:                 0;
    text-decoration:        none;
}

.dashboard form input.wee {
    width:                  3vw;
}

.dashboard form input.tiny {
    width:                  5vw;
}

.dashboard form input.narrow {
    width:                  10vw;
}

.dashboard form .normal {
    width:                  15vw;
}

.dashboard form .wide {
    width:                  20vw;
}

.dashboard form .vast {
    width:                  30vw;
}

.dashboard form .ultravast {
    width:                  45vw;
}

.dashboard-layer {
    position:               fixed;
    margin:                 0;
    box-sizing:             border-box;
    border-style:           solid;
    border-width:           1px;
    border-color:           #000066;
    padding:                6vh 2vw 6vh 2vw;
    overflow-y:             scroll;
}

.dashboard-layer.dashboard-layer-1 {
    z-index:                10;
    left:                   1vw;
    top:                    1vh;
    padding-top:            5vh;
    width:                  97vw;
    height:                 98vh;
    background-color:       rgba(249,249,255,1);
}

.dashboard-layer.dashboard-layer-2 {
    z-index:                20;
    left:                   2vw;
    top:                    2vh;
    padding-top:            4vh;
    width:                  95vw;
    height:                 96vh;
    background-color:       rgba(243,243,255,1);
}

.dashboard-layer.dashboard-layer-3 {
    z-index:                30;
    left:                   3vw;
    top:                    3vh;
    padding-top:            3vh;
    width:                  93vw;
    height:                 94vh;
    background-color:       rgba(237,237,255,1);
}

.dashboard-layer.dashboard-layer-4 {
    z-index:                40;
    left:                   4vw;
    top:                    4vh;
    padding-top:            2vh;
    width:                  91vw;
    height:                 92vh;
    background-color:       rgba(231,231,255,1);
}

.dashboard-layer.dashboard-layer-5 {
    z-index:                50;
    left:                   5vw;
    top:                    5vh;
    padding-top:            1vh;
    width:                  89vw;
    height:                 90vh;
    background-color:       rgba(225,225,255,1);
}

.dashboard-layer.dashboard-layer-6 {
    z-index:                60;
    left:                   6vw;
    top:                    6vh;
    padding-top:            0vh;
    width:                  87vw;
    height:                 88vh;
    background-color:       rgba(219,219,255,1);
}

.dashboard-layer.dashboard-layer-7 {
    z-index:                70;
    left:                   7vw;
    top:                    7vh;
    padding-top:            0vh;
    width:                  85vw;
    height:                 86vh;
    background-color:       rgba(213,213,255,1);
}

.dashboard-layer.dashboard-layer-8 {
    z-index:                80;
    left:                   8vw;
    top:                    8vh;
    padding-top:            0vh;
    width:                  83vw;
    height:                 84vh;
    background-color:       rgba(207,207,255,1);
}

.dashboard-layer.dashboard-layer-9 {
    z-index:                90;
    left:                   9vw;
    top:                    9vh;
    padding-top:            0vh;
    width:                  81vw;
    height:                 82vh;
    background-color:       rgba(201,201,255,1);
}

.plugin-dash .dashboard-layer.dashboard-half-left {
    z-index:                100;
    left:                   9vw;
    top:                    9vh;
    padding-top:            0vh;
    width:                  40vw;
    height:                 82vh;
    background-color:       rgba(195,195,255,1);
}

.plugin-dash .dashboard-layer.dashboard-half-right {
    z-index:                100;
    left:                   50vw;
    top:                    9vh;
    padding-top:            0vh;
    width:                  40vw;
    height:                 82vh;
    background-color:       rgba(195,195,255,1);
}

.bottom {
    vertical-align:         bottom;
}

.center {
    text-align:             center;
}

.right {
    text-align:             right;
}

.fill {
    width:                  100%;
}

td.button {
    width:                  15em;
}



/*
.dashboard form .right {
    position:               absolute;
    margin-top:             0.5em;
    left:                   55vw;
    top:                    auto;
}

.dashboard form a.right {
    left:                   55.5vw;
    margin-top:             1.4em;
}
*/
