<?php $plugins = $this->swef->pluginsList (); ?>

<div class="menu">

  <h2><?php echo htmlspecialchars ($this->swef->page->titleGet()); ?></h2>

    <ul>
      <li><a href="./dashboard.home"><t en>Home</t></a></li>
      <li><a href="./logout"><t en>Log out</t></a></li>
      <li><a href="./sysadmin.plugins?c=%5cSwef%5cSwefCMS&amp;o=collections"><t en>Content management</t></a></li>
      <li><a href="./sysadmin.plugins"><t en>Manage plugins</t></a></li>
      <li><a href="./sysadmin.stored_procedures"><t en>Inspect procedures</t></a></li>
      <li><a href="./sysadmin.constants"><t en>Inspect constants</t></a></li>
    </ul>

</div>

<?php if (is_array($plugins)): ?>

<div class="menu-plugins">

  <div class="list">

<?php     foreach ($plugins as $c=>$p): ?>

    <div class="item<?php if($this->swef->page->_GET(SWEF_GET_CLASSNAME)==$c): ?> selected<?php endif; ?>">
      <h3><?php echo htmlspecialchars ($c); ?></h3>
      <span>Enabled for:</span>
<?php         foreach ($p as $context=>$properties): ?>
<?php             if ($properties[SWEF_COL_ENABLED]): ?>
      <span class="hilite"><?php echo htmlspecialchars ($context); ?></span>

<?php             endif; ?>
<?php     endforeach; ?>
<?php         if ($p[$this->swef->context[SWEF_COL_CONTEXT]][SWEF_STR_DASHBOARD]): ?>
      <div><a href="./sysadmin.plugins?c=<?php echo urlencode ($c); ?>"><t en>Dashboard</t></a></div>
<?php         endif; ?>

    </div>
    <hr/>

<?php     endforeach; ?>

  </div>

</div>

<?php endif; ?>

