<?php
array_shift ($_ARGS);
foreach ($_ARGS as $k=>$v) {
    $name       = $k;
    $selected   = $v;
    break;
}
?>
<?php if(isset($name) && array_key_exists('options',$_ARGS)): ?>
      <select name="<?php echo htmlspecialchars ($name); ?>">
<?php     foreach($_ARGS['options'] as $v=>$n): ?>
        <option
          value="<?php echo htmlspecialchars($v); ?>"
<?php         if($v==$selected): ?>
          selected="selected"
<?php         endif; ?>
        >
          <?php echo htmlspecialchars ($n); ?>
        </option>
<?php     endforeach; ?>
      </select>
<?php endif; ?>

