<!doctype html>
<html class="no-js" lang="">
  <head>
<?php $this->pull ('global.head'); ?>
    <link rel="stylesheet" href="./media/css/www.css">
    <title><?php echo htmlentities ($this->titleGet()); ?> - My SWEF Website</title>
  </head>
  <body class="www www-default">
<?php $this->pull ('global.legacy'); ?>

    <h1>Default web page template</h1>
    <p>This is HTML5 Boilerplate (adapted for SWEF).</p>
    <p><a href="http://www.html5boilerplate.com/">html5boilerplate.com</a></p>
    <p><?php echo htmlentities (__FILE__); ?></p>

<!-- PUSHED SCRIPT OUTPUT -->
<?php $this->output (); ?>

<?php $this->pull ('global.notifications'); ?>

<?php $this->pull ('global.js'); ?>

    <script>
swef._init ();
swef.apiSet ('<?php echo SWEF_API_ENDPOINT; ?>','<?php echo SWEF_API_POST_KEY; ?>');
swef.notifyElement ('notifications');
swefcms._init (1024); // Maximum allowed parser lines
    </script>

<?php $this->pull ('www.js'); ?>

<?php $this->pull ('www.google_analytics'); ?>

  </body>
</html>
